@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Raleway:400,500,700|Ubuntu:400,700');

:root{
    --font_body: 400 13px 'PT Sans', sans-serif;
    --font_h1: 700 3em 'Raleway', sans-serif;
    --font_h2: 700 2em 'Raleway', sans-serif;
    --font_h3: 700 1.7em 'Raleway', sans-serif;
    --font_h4: 500 1.5em 'Raleway', sans-serif;
    --font_h5: 500 1.3em 'Raleway', sans-serif;
    --font_h6: 400 1.1em 'Raleway', sans-serif;
    --font_p: 400 1.1em 'PT Sans', sans-serif;
    --font_a: 400 1.1em 'PT Sans', sans-serif;
    --font_primaryNavA: 700 1.1em 'Ubuntu', sans-serif;
    --font_secondaryNavA: 700 1em 'Ubuntu', sans-serif;



    --green:       #11a587;
    --darkGreen:   #0d715b;
    --offWhite:    #efede0;
    --white:       #ffffff;
    --black:       #444444;
    --ash:         #b4b1aa;
    --red:         #df6244;
    --stripBg_ash: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(0,0,0,.1) 4px, rgba(0,0,0,.1) 4.4px);
    --stripAsh_Bg: repeating-linear-gradient(45deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 4px, transparent 4px, transparent 4.4px);
    --stripGreen_Bg: repeating-linear-gradient(45deg, rgba(17,165,135,.9), rgba(17,165,135,.9) 4px, transparent 4px, transparent 4.4px);
    --stripDarkGreen_Bg: repeating-linear-gradient(45deg, rgba(13,113,91,.9), rgba(13,113,91,.9) 4px, transparent 4px, transparent 4.6px);
}


body{font: var(--font_body); color: var(--black);}
h1{font: var(--font_h1);}
h2{font: var(--font_h2);}
h3{font: var(--font_h3);}
h4{font: var(--font_h4);}
h5{font: var(--font_h5);}
h6{font: var(--font_h6);}
p{font: var(--font_p);}
a{font: var(--font_a); color: var(--green); text-decoration: none;}
a:hover{color: var(--darkGreen);}
ul, li, ol{list-style: none;}


/*

body{font: var(--font_body); color: var(--black);}
h1{font: var(--font_h1); color: var(--white);}
h1.invert, h1 .invert{color: var(--offWhite);}
h2{font: var(--font_h2);}
h3{font: var(--font_h3);}
h4{font: var(--font_h4);}
h5{font: var(--font_h5);}
h6{font: var(--font_h6);}
p{font: var(--font_p);}
a{text-decoration: none; font: var(--font_a); color: var(--green);}
a.active, a:hover{font: var(--font_a); color: var(--red);}
nav.main a{text-decoration: none; font: var(--font_navMainA); color: var(--black);}
nav.main a.active, nav.main a:hover{font: var(--font_navMainA); color: var(--white);}
nav.sub a{text-decoration: none; font: var(--font_navSubA); color: var(--black);}
nav.sub a.active, nav.sub a:hover{font: var(--font_navSubA); color: var(--green);}
img{width: 100%;}
img.img2svg{opacity: 0;}
ul, ol, li{list-style: none;}
h1 .subtext{font: var(--font_h1_subtext); text-transform: none;}
h2 .subtext{font: var(--font_h2_subtext); text-transform: none;}
h3 .subtext{font: var(--font_h3_subtext); text-transform: none;}
h4 .subtext{font: var(--font_h4_subtext); text-transform: none;}
h5 .subtext{font: var(--font_h5_subtext); text-transform: none;}
h6 .subtext{font: var(--font_h6_subtext); text-transform: none;}
.logo .mainTxt{font: var(--font_logoMain); color: var(--green);}
.logo .subTxt{font: var(--font_logoSub);}
.progressBar{background: var(--ash);}
.progress{background: var(--green);}
.sectionSeperator{border: 0.5px solid var(--ash); background-color: var(--ash);}
.scroll-top{background: var(--green);}
a.scrollTopLink, a.scrollTopLink:hover{color: var(--white); font-size: 1.5em; font-weight: bold; padding:1.8em 0em;}
.footer{background: var(--green);}
*/
